<div class="home__container">

  <app-cards
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="Digital | PS4"
    gamePrice="R$199,90"
    >
  </app-cards>

  <app-cards
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$264,99"
    >
  </app-cards>

  <app-cards
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5 and PS4"
    gamePrice="R$279,90"
    >
  </app-cards>

  <app-cards
    gameCover="assets/ac-cover.jpg"
    gameLabel="DIGITAL"
    gameType="PS5 and PS4"
    gamePrice="R$389,90"
    >
  </app-cards>

  <app-cards
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL"
    gamePrice="R$299,99"
    >
  </app-cards>

  <app-cards
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="PS4"
    gamePrice="R$499,99"
    >
  </app-cards>

</div>


